.switch {
  height: 0;
  width: 0;
  visibility: hidden;
}

.switch-label {
  cursor: pointer;
  text-indent: -9999px;
  width: 38.4px; 
  height: 19.2px; 
  background: #d2d6db;
  display: block;
  border-radius: 60px;
  position: relative;
}

.switch-label:after {
  content: "";
  position: absolute;
  top: 4px; 
  left: 3px; 
  width: 11.2px; 
  height: 11.2px; 
  background: #fff;
  border-radius: 44.8px; 
  transition: 0.3s;
}

.switch:checked + .switch-label {
  background: #4f46e5;
}

.switch:checked + .switch-label:after {
  left: calc(100% - 3px); 
  transform: translateX(-100%);
}

.switch-label:active:after {
  width: 14.4px; 
}
