

@page {
  size: 320px auto; /* Establece el tamaño de página automático basado en el contenido */
  margin: 0;
}

.texto-centrado{
  text-align: center;
}
.tiquete {
  font-family: 'Lucida Console', monospace;
  padding: 12px;
  width: 3.36in;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.2;
  font-size: 9pt;
}
.resumen-pasajes{
  margin-top: 10px;
  background-color: aqua;
}

.cabecera{
/*   background-color: #f0e68c; */
  text-align: center;
}

span{
  display: flex;
  justify-content: space-between;
}